<%= render "shared/header" %>
<%# <div class="recommendation-new-post-btn" > %>
<div class="button-content" >
  <label class="btn btn-outline-info btn-lg" for="new-post">New Post</label>
  <input type="checkbox" id="new-post">
  <button type="button" class="btn btn-outline-secondary btn-lg">Search</button>
    <%# おすすめ投稿 %>
    <div class="new-recommendation">
      <%= form_with model: @recommendation,local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
        <div class="recommendation-items">
          <div class="recommendation-img-upload">
            <div class="weight-bold-text">Image</div>
            <div class="recommendation-click-upload">
              クリックしてアップロード
              <%= f.label :image, "Choose", class: "recommendation-image_input_btn" %>
              <%= f.file_field :image, class:"recommendation-item-image" %>
            </div>
          </div>
          <div class="recommendation-category">
            <div class="weight-bold-text">
              Category
              <span class="indispensable">必須</span>
            </div>
            <%= f.collection_select(:category_id, Category.all, :id, :name, {include_blank: "Choose"}, {class:"recommendation-select-box", id:"category"}) %>
          </div>
        </div>

        <div class="new-recommendation-text">
          <div class="recommendation-title">
            <div class="weight-bold-text">
              Title
              <span class="indispensable">必須</span>
            </div>
            <%= f.text_area :title, class:"recommendation-items-text", id:"item-name", placeholder:"作品名（必須 40文字まで)", maxlength:"20" %>
          </div>
          <div class="recommendation-items-explain">
            <div class="weight-bold-text">Memo</div>
            <%= f.text_area :memo, class:"recommendation-items-text", id:"item-info", placeholder:"メモ（1,000文字まで）" ,rows:"2" ,maxlength:"30" %>
         </div>
       </div>

       <div class="d-grid gap-2"> 
         <%= f.submit "POST" ,class:"btn btn-danger" %>
       </div>
       
    </div>
    <% end %>
    <%# /おすすめ投稿 %>

 <%# </div> %>

  <div class="recommendation-search">
  </div>
</div>



<%= render "shared/footer" %>
