<%= render "shared/header" %>

<div class="card__wrapper">
  <% @works.each do |work| %>
  <div class="card">
    <div class="image__wrapper" >
    <%= link_to image_tag(work.image, class: :card__img ), "#" %>
    <%# (work.id) %>
    </div>
    <div class="card__body">
    <%= link_to work.title, "#", class: :card__title%>
    <%# (work.id) %>
    </div>
    <div class="card__summary">
    <%= Category.find(work.category_id).name %>
    </div>
  </div>
  <% end %>
</div>


<%= render "shared/footer" %>
